h1{
    text-align: center;
    color: whitesmoke;
    background-color: green;
    padding: 20px;
}

#image{
    border: 1px solid burlywood;
    width: 150px;
    height: 100px;
    background-color: cornsilk;
}